extends ./../base

block append vars
  - var relativeFontPath = "./../";
  - var relativeImagesPath = "./../";
  - var relativeCSSPath = "./";
  - var pathToRoot = "./../";
  - var title = "Убежище факторианта - Развилки";
  - var h1Text = "Развилки";
  - var headerText = "Развилки"
  - var guidesActive = true;