extends ./../base

block append vars
  - var relativeFontPath = "./../";
  - var relativeImagesPath = "./../";
  - var relativeCSSPath = "./";
  - var pathToRoot = "./../";
  - var title = "Убежище факторианта - Развилки";
  - var h1Text = "Развилки";
  - var headerText = "Развилки"
  - var forksActive = true;

block additionalCSSLinks
  link(rel="stylesheet", href="./perfect-scrollbar.css")

block content
  -
    const forks = [
      {
        lines: [],
        links: [
          {
            text: "Начало игры",
            posMode: "static",
            lineDown: "line-down",
            modificator: "good-hide",
            specialSign: "rocket",
            href: ""
          }
        ]
      },
      {
        lines: [],
        links: [
          {
            text: "Сюжет",
            posMode: "static",
            lineDown: "line-down",
            modificator: "good",
            specialSign: "",
            href: "./../articles/1/"
          }
        ]
      },
      {
        lines: [],
        links: [
          {
            text: "Основы управления",
            posMode: "static",
            lineDown: "line-down",
            modificator: "good",
            specialSign: "",
            href: "./../articles/2/"
          }
        ]
      },
      {
        lines: [],
        links: [
          {
            text: "Физика в игре",
            posMode: "static",
            lineDown: "line-down",
            modificator: "good",
            specialSign: "",
            href: "./../articles/3/"
          }
        ]
      },
      {
        lines: [],
        links: [
          {
            text: "Подбор локации",
            posMode: "static",
            lineDown: "line-down",
            modificator: "good",
            specialSign: "",
            href: "./../articles/4/"
          }
        ]
      },
      {
        lines: ["30"],
        links: [
          {
            text: "Добыча угля",
            posMode: "static",
            lineDown: "line-down",
            modificator: "good",
            specialSign: "",
            href: "./../articles/5/"
          },
          {
            text: "Случайная карта",
            posMode: "abs-30",
            lineDown: "",
            modificator: "good",
            specialSign: "",
            href: "./../articles/36/"
          }
        ]
      },
      {
        lines: ["1"],
        links: [
          {
            text: "Энергия с пара",
            posMode: "static",
            lineDown: "line-down",
            modificator: "good",
            specialSign: "",
            href: "./../articles/6/"
          },
          {
            text: "Добыча руды без автоматизации",
            posMode: "abs-1",
            lineDown: "",
            modificator: "danger",
            specialSign: "",
            href: "./../articles/7/"
          }
        ]
      },
      {
        lines: [],
        links: [
          {
            text: "Электрические буры и манипуляторы",
            posMode: "static",
            lineDown: "line-down",
            modificator: "good",
            specialSign: "",
            href: "./../articles/8/"
          }
        ]
      },
      {
        lines: [],
        links: [
          {
            text: "Радар",
            posMode: "static",
            lineDown: "line-down",
            modificator: "good",
            specialSign: "",
            href: "./../articles/9/"
          }
        ]
      },
      {
        lines: ["5"],
        links: [
          {
            text: "Лаборатории",
            posMode: "static",
            lineDown: "line-down",
            modificator: "good",
            specialSign: "science",
            href: "./../articles/10/"
          },
          {
            text: "Самостоятельное освоение карты",
            posMode: "abs-5",
            lineDown: "",
            modificator: "danger-hide",
            specialSign: "",
            href: ""
          }
        ]
      },
      {
        lines: ["2"],
        links: [
          {
            text: "Автоматизация красных колб",
            posMode: "static",
            lineDown: "line-down",
            modificator: "good",
            specialSign: "",
            href: "./../articles/11/"
          },
          {
            text: "Порядок исследований",
            posMode: "abs-2",
            lineDown: "",
            modificator: "warning",
            specialSign: "",
            href: "./../articleas/12"
          }
        ]
      },
      {
        lines: [],
        links: [
          {
            text: "Пулемётные турели",
            posMode: "static",
            lineDown: "line-down",
            modificator: "good",
            specialSign: "",
            href: "./../articles/13/"
          }
        ]
      },
      {
        lines: ["24"],
        links: [
          {
            text: "Каменные блоки и стены",
            posMode: "static",
            lineDown: "line-down",
            modificator: "good",
            specialSign: "",
            href: "./../articles/14/"
          },
          {
            text: "Защита базы самостоятельно",
            posMode: "abs-24",
            lineDown: "",
            modificator: "danger-hide",
            specialSign: "",
            href: ""
          }
        ]
      },
      {
        lines: [],
        links: [
          {
            text: "Шина",
            posMode: "static",
            lineDown: "line-down",
            modificator: "good",
            specialSign: "",
            href: "./../articles/15/"
          }
        ]
      },
      {
        lines: ["31"],
        links: [
          {
            text: "Как брать ресурсы с шины",
            posMode: "static",
            lineDown: "line-down",
            modificator: "good",
            specialSign: "",
            href: "./../articles/16/"
          },
          {
            text: "Макаронная фабрика",
            posMode: "abs-31",
            lineDown: "",
            modificator: "danger",
            specialSign: "",
            href: "./../articles/37/"
          }
        ]
      },
      {
        lines: [],
        links: [
          {
            text: "Зелёные колбы",
            posMode: "static",
            lineDown: "line-down",
            modificator: "good",
            specialSign: "",
            href: "./../articles/17/"
          }
        ]
      },
      {
        lines: [],
        links: [
          {
            text: "Электросхемы",
            posMode: "static",
            lineDown: "line-down",
            modificator: "good",
            specialSign: "",
            href: "./../articles/18/"
          }
        ]
      },
      {
        lines: [],
        links: [
          {
            text: "Производство красных и зелёных колб",
            posMode: "static",
            lineDown: "line-down",
            modificator: "good",
            specialSign: "",
            href: "./../articles/19/"
          }
        ]
      },
      {
        lines: [],
        links: [
          {
            text: "Проблемы с производством железа",
            posMode: "static",
            lineDown: "line-down",
            modificator: "good",
            specialSign: "",
            href: "./../articles/20/"
          }
        ]
      },
      {
        lines: [],
        links: [
          {
            text: "Стальные балки",
            posMode: "static",
            lineDown: "line-down",
            modificator: "good",
            specialSign: "",
            href: "./../articles/21/"
          }
        ]
      },
      {
        lines: [],
        links: [
          {
            text: "Наводим порядок",
            posMode: "static",
            lineDown: "line-down",
            modificator: "good",
            specialSign: "",
            href: "./../articles/22/"
          }
        ]
      },
      {
        lines: [],
        links: [
          {
            text: "Нападение на кусак",
            posMode: "static",
            lineDown: "line-down",
            modificator: "good",
            specialSign: "",
            href: "./../articles/23/"
          }
        ]
      },
      {
        lines: ["3"],
        links: [
          {
            text: "Расширение шины и отсыпка территории",
            posMode: "static",
            lineDown: "line-down",
            modificator: "good",
            specialSign: "",
            href: "./../articles/24/"
          },
          {
            text: "Уничтожение всех кусак в округе",
            posMode: "abs-3",
            lineDown: "line-down",
            modificator: "warning-hide",
            specialSign: "",
            href: ""
          }
        ]
      },
      {
        lines: ["25"],
        links: [
          {
            text: "Добыча нефти",
            posMode: "static",
            lineDown: "line-down",
            modificator: "good",
            specialSign: "",
            href: "./../articles/26/"
          },
          {
            text: "Не убивать кусак",
            posMode: "abs-6",
            lineDown: "",
            modificator: "warning-hide",
            specialSign: "",
            href: ""
          },
          {
            text: "Создание новой шины",
            posMode: "abs-25",
            lineDown: "",
            modificator: "warning-hide",
            specialSign: "",
            href: ""
          }
        ]
      },
      {
        lines: [],
        links: [
          {
            text: "Производство серы",
            posMode: "static",
            lineDown: "line-down",
            modificator: "good",
            specialSign: "",
            href: "./../articles/27/"
          }
        ]
      },
      {
        lines: [],
        links: [
          {
            text: "Производство пластика",
            posMode: "static",
            lineDown: "line-down",
            modificator: "good",
            specialSign: "",
            href: "./../articles/28/"
          }
        ]
      },
      {
        lines: [],
        links: [
          {
            text: "Улучшенные электросхемы",
            posMode: "static",
            lineDown: "line-down",
            modificator: "good",
            specialSign: "",
            href: "./../articles/29/"
          }
        ]
      },
      {
        lines: [],
        links: [
          {
            text: "Твердотопливные двигатели",
            posMode: "static",
            lineDown: "line-down",
            modificator: "good",
            specialSign: "",
            href: "./../articles/30/"
          }
        ]
      },
      {
        lines: [],
        links: [
          {
            text: "Синие колбы",
            posMode: "static",
            lineDown: "line-down",
            modificator: "good",
            specialSign: "",
            href: "./../articles/31/"
          }
        ]
      },
      {
        lines: [],
        links: [
          {
            text: "Производство патронов",
            posMode: "static",
            lineDown: "line-down",
            modificator: "good",
            specialSign: "",
            href: "./../articles/32/"
          }
        ]
      },
      {
        lines: [],
        links: [
          {
            text: "Производство гранат",
            posMode: "static",
            lineDown: "line-down",
            modificator: "good",
            specialSign: "",
            href: "./../articles/33/"
          }
        ]
      },
      {
        lines: [],
        links: [
          {
            text: "Чёрные колбы",
            posMode: "static",
            lineDown: "line-down",
            modificator: "good",
            specialSign: "",
            href: "./../articles/34/"
          }
        ]
      },
      {
        lines: [],
        links: [
          {
            text: "Производство серной кислоты",
            posMode: "static",
            lineDown: "line-down",
            modificator: "good",
            specialSign: "",
            href: "./../articles/35/"
          }
        ]
      },
      {
        lines: [],
        links: [
          {
            text: "Производство аккумуляторов",
            posMode: "static",
            lineDown: "line-down",
            modificator: "good-hide",
            specialSign: "",
            href: ""
          }
        ]
      },
      {
        lines: [],
        links: [
          {
            text: "Производство смазочной жидкости",
            posMode: "static",
            lineDown: "line-down",
            modificator: "good-hide",
            specialSign: "",
            href: ""
          }
        ]
      },
      {
        lines: [],
        links: [
          {
            text: "Производство электродвигателя",
            posMode: "static",
            lineDown: "line-down",
            modificator: "good-hide",
            specialSign: "",
            href: ""
          }
        ]
      },
      {
        lines: [],
        links: [
          {
            text: "Производство каркаса дрона",
            posMode: "static",
            lineDown: "line-down",
            modificator: "good-hide",
            specialSign: "",
            href: ""
          }
        ]
      },
      {
        lines: [],
        links: [
          {
            text: "Производство строительных и транспортных дронов",
            posMode: "static",
            lineDown: "line-down",
            modificator: "good-hide",
            specialSign: "",
            href: ""
          }
        ]
      },
      {
        lines: ["7"],
        links: [
          {
            text: "Улучшенные конвейеров",
            posMode: "static",
            lineDown: "line-down",
            modificator: "good-hide",
            specialSign: "",
            href: ""
          },
          {
            text: "Постройка объектов самостоятельно",
            posMode: "abs-7",
            lineDown: "",
            modificator: "warning-hide",
            specialSign: "",
            href: ""
          }
        ]
      },
      {
        lines: [],
        links: [
          {
            text: "Производство процессоров",
            posMode: "static",
            lineDown: "line-down",
            modificator: "good-hide",
            specialSign: "",
            href: ""
          }
        ]
      },
      {
        lines: [],
        links: [
          {
            text: "Завод по производству всего. Часть 1",
            posMode: "static",
            lineDown: "line-down",
            modificator: "good-hide",
            specialSign: "",
            href: ""
          }
        ]
      },
      {
        lines: ["27"],
        links: [
          {
            text: "Производство взрывчатки",
            posMode: "static",
            lineDown: "line-down",
            modificator: "good-hide",
            specialSign: "",
            href: ""
          },
          {
            text: "Создание отдельных цепей переработки",
            posMode: "abs-27",
            lineDown: "",
            modificator: "warning-hide",
            specialSign: "",
            href: ""
          }
        ]
      },
      {
        lines: ["8"],
        links: [
          {
            text: "Производство солнечных панелей",
            posMode: "static",
            lineDown: "line-down",
            modificator: "good-hide",
            specialSign: "",
            href: ""
          },
          {
            text: "Оставить ландшафт естественным",
            posMode: "abs-8",
            lineDown: "",
            modificator: "warning-hide",
            specialSign: "",
            href: ""
          }
        ]
      },
      {
        lines: ["14", "22"],
        links: [
          {
            text: "Производство аккумуляторного блока",
            posMode: "static",
            lineDown: "line-down",
            modificator: "good-hide",
            specialSign: "",
            href: ""
          },
          {
            text: "Ядерное топливо",
            posMode: "abs-14",
            lineDown: "line-down",
            modificator: "good-hide",
            specialSign: "",
            href: ""
          },
          {
            text: "Оставить паровые двигатели",
            posMode: "abs-22",
            lineDown: "",
            modificator: "warning-hide",
            specialSign: "",
            href: ""
          }
        ]
      },
      {
        lines: [],
        links: [
          {
            text: "Производство подстанции",
            posMode: "static",
            lineDown: "line-down",
            modificator: "good-hide",
            specialSign: "",
            href: ""
          },

          {
            text: "Урановый топливный элемент",
            posMode: "abs-15",
            lineDown: "line-down",
            modificator: "good-hide",
            specialSign: "",
            href: ""
          }
        ]
      },
      {
        lines: [],
        links: [
          {
            text: "Производство электрических печей",
            posMode: "static",
            lineDown: "line-down",
            modificator: "good-hide",
            specialSign: "",
            href: ""
          },
          {
            text: "Ядерный реактор",
            posMode: "abs-16",
            lineDown: "",
            modificator: "good-hide",
            specialSign: "",
            href: ""
          }
        ]
      },
      {
        lines: ["9", "17"],
        links: [
          {
            text: "Поезд",
            posMode: "static",
            lineDown: "line-down",
            modificator: "good-hide",
            specialSign: "",
            href: ""
          },
          {
            text: "Переплавка на стальных печах",
            posMode: "abs-9",
            lineDown: "",
            modificator: "danger-hide",
            specialSign: "",
            href: ""
          },
          {
            text: "Ядерная энергетика. Часть 1",
            posMode: "abs-17",
            lineDown: "line-down",
            modificator: "good-hide",
            specialSign: "",
            href: ""
          }
        ]
      },
      {
        lines: ["4", "23"],
        links: [
          {
            text: "Фиолетовые колбы",
            posMode: "static",
            lineDown: "line-down",
            modificator: "good-hide",
            specialSign: "",
            href: ""
          },
          {
            text: "Трубы вместо поезда",
            posMode: "abs-4",
            lineDown: "",
            modificator: "warning-hide",
            specialSign: "",
            href: ""
          },
          {
            text: "Ядерная энергетика. Часть 2",
            posMode: "abs-18",
            lineDown: "line-down",
            modificator: "good-hide",
            specialSign: "",
            href: ""
          },
          {
            text: "Перемещение с помощью конвейеров",
            posMode: "abs-23",
            lineDown: "",
            modificator: "warning-hide",
            specialSign: "",
            href: ""
          }
        ]
      },
      {
        lines: [],
        links: [
          {
            text: "Жёлтые колбы",
            posMode: "static",
            lineDown: "line-down",
            modificator: "good-hide",
            specialSign: "",
            href: ""
          },
          {
            text: "Ядерная энергетика. Часть 3",
            posMode: "abs-19",
            lineDown: "line-down",
            modificator: "good-hide",
            specialSign: "",
            href: ""
          }
        ]
      },
      {
        lines: [],
        links: [
          {
            text: "Добыча урана",
            posMode: "static",
            lineDown: "line-down",
            modificator: "good-hide",
            specialSign: "",
            href: ""
          },
          {
            text: "Ядерная энергетика. Часть 4",
            posMode: "abs-20",
            lineDown: "line-down",
            modificator: "good-hide",
            specialSign: "",
            href: ""
          }
        ]
      },
      {
        lines: [],
        links: [
          {
            text: "Производство бетона",
            posMode: "static",
            lineDown: "line-down",
            modificator: "good-hide",
            specialSign: "",
            href: ""
          },
          {
            text: "Ядерная энергетика. Часть 5",
            posMode: "abs-21",
            lineDown: "",
            modificator: "good-hide",
            specialSign: "",
            href: ""
          }
        ]
      },
      {
        lines: [],
        links: [
          {
            text: "Переработка урана",
            posMode: "static",
            lineDown: "line-down",
            modificator: "good-hide",
            specialSign: "",
            href: ""
          }
        ]
      },
      {
        lines: [],
        links: [
          {
            text: "Завод по производству всего. Часть 2",
            posMode: "static",
            lineDown: "line-down",
            modificator: "good-hide",
            specialSign: "",
            href: ""
          }
        ]
      },
      {
        lines: ["28"],
        links: [
          {
            text: "Производство дронстанции",
            posMode: "static",
            lineDown: "line-down",
            modificator: "good-hide",
            specialSign: "",
            href: ""
          },
          {
            text: "Создание отдельных цепей переработки",
            posMode: "abs-28",
            lineDown: "",
            modificator: "warning-hide",
            specialSign: "",
            href: ""
          }
        ]
      },
      {
        lines: [],
        links: [
          {
            text: "Производство сборочных комплексов",
            posMode: "static",
            lineDown: "line-down",
            modificator: "good-hide",
            specialSign: "",
            href: ""
          }
        ]
      },
      {
        lines: [],
        links: [
          {
            text: "Производство быстрых конвейеров",
            posMode: "static",
            lineDown: "line-down",
            modificator: "good-hide",
            specialSign: "",
            href: ""
          }
        ]
      },
      {
        lines: [],
        links: [
          {
            text: "Производство самых быстрых конвейеров",
            posMode: "static",
            lineDown: "line-down",
            modificator: "good-hide",
            specialSign: "",
            href: ""
          }
        ]
      },
      {
        lines: [],
        links: [
          {
            text: "Обогащение урана",
            posMode: "static",
            lineDown: "line-down",
            modificator: "good-hide",
            specialSign: "",
            href: ""
          }
        ]
      },
      {
        lines: [],
        links: [
          {
            text: "Автоматический ремонт базы",
            posMode: "static",
            lineDown: "line-down",
            modificator: "good-hide",
            specialSign: "",
            href: ""
          }
        ]
      },
      {
        lines: ["26"],
        links: [
          {
            text: "Производство твёрдого топлива",
            posMode: "static",
            lineDown: "line-down",
            modificator: "good-hide",
            specialSign: "",
            href: ""
          },
          {
            text: "Защита базы стенами",
            posMode: "abs-26",
            lineDown: "",
            modificator: "warning-hide",
            specialSign: "",
            href: ""
          }
        ]
      },
      {
        lines: [],
        links: [
          {
            text: "Маяк",
            posMode: "static",
            lineDown: "line-down",
            modificator: "good-hide",
            specialSign: "",
            href: ""
          }
        ]
      },
      {
        lines: [],
        links: [
          {
            text: "Массовое улучшение дронами",
            posMode: "static",
            lineDown: "line-down",
            modificator: "good-hide",
            specialSign: "",
            href: ""
          }
        ]
      },
      {
        lines: [],
        links: [
          {
            text: "Ракетное топливо",
            posMode: "static",
            lineDown: "line-down",
            modificator: "good-hide",
            specialSign: "",
            href: ""
          }
        ]
      },
      {
        lines: [],
        links: [
          {
            text: "Автомобиль",
            posMode: "static",
            lineDown: "line-down-double",
            modificator: "good-hide",
            specialSign: "",
            href: ""
          }
        ]
      },
      {
        lines: ["10", "11"],
        links: [
          {
            text: "Передвижение пешком",
            posMode: "abs-10",
            lineDown:"",
            modificator: "warning-hide",
            specialSign: "",
            href: ""
          },
          {
            text: "Передвижение на поезде",
            posMode: "abs-11",
            lineDown:"",
            modificator: "warning-hide",
            specialSign: "",
            href: ""
          }
        ]
      },
      {
        lines: [],
        links: [
          {
            text: "Производство крупнокалиберных снарядов",
            posMode: "static",
            lineDown: "line-down",
            modificator: "good-hide",
            specialSign: "",
            href: ""
          }
        ]
      },
      {
        lines: [],
        links: [
          {
            text: "Огнемёт",
            posMode: "static",
            lineDown: "line-down",
            modificator: "good-hide",
            specialSign: "",
            href: ""
          }
        ]
      },
      {
        lines: ["13"],
        links: [
          {
            text: "Танк",
            posMode: "static",
            lineDown: "line-down-double",
            modificator: "good-hide",
            specialSign: "",
            href: ""
          },
          {
            text: "Оставить пулемётные турели",
            posMode: "abs-13",
            lineDown: "",
            modificator: "warning-hide",
            specialSign: "",
            href: ""
          }
        ]
      },
      {
        lines: ["10", "11", "12"],
        links: [
          {
            text: "Передвижение пешком",
            posMode: "abs-10",
            lineDown: "",
            modificator: "warning-hide",
            specialSign: "",
            href: ""
          },
          {
            text: "Передвижение на автомобиле",
            posMode: "abs-11",
            lineDown: "",
            modificator: "warning-hide",
            specialSign: "",
            href: ""
          },
          {
            text: "Передвижение на поезде",
            posMode: "abs-12",
            lineDown: "",
            modificator: "warning-hide",
            specialSign: "",
            href: ""
          }
        ]
      },
      {
        lines: [],
        links: [
          {
            text: "Завод по производству всего. Часть 3",
            posMode: "static",
            lineDown: "line-down",
            modificator: "good-hide",
            specialSign: "",
            href: ""
          }
        ]
      },
      {
        lines: ["29"],
        links: [
          {
            text: "Мины",
            posMode: "static",
            lineDown: "line-down",
            modificator: "good-hide",
            specialSign: "",
            href: ""
          },
          {
            text: "Создание отдельных цепей переработки",
            posMode: "abs-29",
            lineDown: "",
            modificator: "warning-hide",
            specialSign: "",
            href: ""
          }
        ]
      },
      {
        lines: [],
        links: [
          {
            text: "Ракета",
            posMode: "static",
            lineDown: "",
            modificator: "good-hide",
            specialSign: "",
            href: ""
          }
        ]
      },
      
      
      
    ]
  
  div.main__forks-cont
    div.main__forks-inner-cont
      div.main__forks-legend
        div.main__forks-legend-item
          img(src=relativeImagesPath + "images/danger.svg" alt="Знак тревоги")
          span Не стоит так делать
        div.main__forks-legend-item
          img(src=relativeImagesPath + "images/warning.svg" alt="Знак предупреждения")
          span Спорные развилки

      each fork in forks
        div.main__fork
          each line in fork.lines
            span(class="main__fork-line main__fork-line-" + line)
          each link in fork.links
            a(class="main__fork-link main__fork-link_" + link.posMode + " main__fork-link_" + link.lineDown + " main__fork-link_" + link.modificator + " main__fork-link_" + link.specialSign, href=link.href)
              span #{link.text}
      
block footer



block additionalJSLinks
  script(src="./perfect-scrollbar.min.js")
  script(src="./index.js") 