@import './../_reset';
@import './../_header';
@import './../_footer';

$window-container-width: 1920px;
$window-mob-container-width: 360px;
$main-color: #000000;
$main-bg-color: #FFFFFF;
$orange: #FF811E;
$danger-color: #C81A1A;

@mixin transformFontToVW($font-size, $line-height) {
  font-size: calc($font-size / $window-container-width * 100vw);
  line-height: calc($line-height / $window-container-width * 100vw);
}

@mixin transformFontToVWMob($font-size, $line-height) {
  font-size: calc($font-size / $window-mob-container-width * 100vw);
  line-height: calc($line-height / $window-mob-container-width * 100vw);
}

@function transformToVW($size) {
  @return calc($size / $window-container-width * 100vw);
}

@function transformToVWMob($size) {
  @return calc($size / $window-mob-container-width * 100vw);
}

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  position: relative;
  background: $main-bg-color;
  min-height: 100vh;
}

.main {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;

  @include transformFontToVW(22px, 26.82px);
  padding: transformToVW(100px) 0 0;

  &__forks-cont {
    position: relative;
    width: 100%;
    height: 100vh;

    overflow: hidden;
  }

  &__forks-inner-cont {
    position: relative;
    width: 200%;

    padding: transformToVW(100px) 0 transformToVW(30px);

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__forks-legend {
    position: absolute;
    top: transformToVW(200px);
    left: 50%;
    width: transformToVW(287px);

    transform: translateX(-200%);

    &-item {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: transformToVW(45px);

      img {
        width: transformToVW(55.99px);
        height: transformToVW(49px);
      }

      span {
        @include transformFontToVW(16px, 19.5px);
      }
    }

    &-item::after {
      content: "";
      position: absolute;
      top: 50%;
      left: transformToVW(80px);
      width: transformToVW(16px);
      height: transformToVW(2px);
      background-color: $main-color;
    }
  }

  &__fork {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: transformToVW(84px);
    margin-bottom: transformToVW(76px);
  }

  &__fork_last{
    margin-bottom: transformToVW(0px);
  }

  &__fork-link {
    position: absolute;
    top: 0;
    left: 50%;

    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    color: $main-color;
    text-decoration: none;
    padding: 0 transformToVW(50px);
    border: transformToVW(6px) dashed $main-color;
    background-color: $main-bg-color;

    transform: translateX(-50%);

    box-shadow: 0 0 0 rgba($color: #000000, $alpha: 0.5);
    transition: box-shadow ease-in-out 350ms;
  }

  &__fork-link:hover {
    box-shadow: 0 0 1vw rgba($color: #000000, $alpha: 0.5);
  }

  &__fork-link_static {
    position: relative;
    top: unset;
    left: unset;
    transform: none;
  }

  &__fork-link_line-down::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    width: transformToVW(8px);
    height: transformToVW(160px);
    border-right: transformToVW(8px) dashed $main-color;
    transform: translateX(-50%);
    z-index: -1;
  }

  &__fork-link_line-down-double::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    width: transformToVW(8px);
    height: transformToVW(320px);
    border-right: transformToVW(8px) dashed $main-color;
    transform: translateX(-50%);
    z-index: -1;
  }

  &__fork-link_good {
    border-color: $orange;
    box-shadow: 0 0 0vw #FF811E;
  }

  &__fork-link_good:hover {
    box-shadow: 0 0 1vw #FF811E;
  }

  &__fork-link_danger::after,
  &__fork-link_danger-hide::after,
  &__fork-link_warning::after,
  &__fork-link_warning-hide::after,
  &__fork-link_rocket::after,
  &__fork-link_science::after {
    content: "";
    position: absolute;
    bottom: 100%;
    right: 100%;
    width: transformToVW(55.99px);
    height: transformToVW(49px);
    transform: translate(75%, 25%);
    background-position: center center;
    background-size: 100% 100%;
  }

  &__fork-link_rocket::after,
  &__fork-link_science::after {
    width: transformToVW(60px);
    height: transformToVW(60px);
    right: unset;
    left: 100%;
    transform: translate(-35%, 35%);
  }

  &__fork-link_danger::after,
  &__fork-link_danger-hide::after {
    background-image: url(./../images/danger.svg);
  }

  &__fork-link_warning::after,
  &__fork-link_warning-hide::after {
    background-image: url(./../images/warning.svg);
  }

  &__fork-link_rocket::after {
    background-image: url(./../images/rocket.png);
  }

  &__fork-link_science::after {
    background-image: url(./../images/microscope.png);
  }

  &__fork-link_good-hide,
  &__fork-link_warning-hide,
  &__fork-link_danger-hide {
    border-color: rgba($color: $main-color, $alpha: 0.65);
    pointer-events: none;
  }

  &__fork-line {
    position: absolute; 
    bottom: 50%; 
    height: calc(100% + 4.25vw); 
    border: 0.416vw dashed $main-color; 
    border-radius: 2.3vw;
    z-index: -1;
  }

  &__fork-line-1 {
    right: 50%; 
    width: 24.14vw; 

    border-bottom: none; 
    border-right: none; 
  }

  &__fork-line-2 {
    left: 50%; 
    width: 24.4vw; 

    border-left: none;
    border-bottom: none;
  }

  &__fork-line-3 {
    right: 50%;
    width: 31vw;
    
    border-bottom: none; 
    border-right: none;
  }

  &__fork-line-4 {
    right: 50%;
    width: 19.5vw;
    
    border-bottom: none; 
    border-right: none;
  }

  &__fork-line-5 {
    right: 50%;
    width: 23vw;
    
    border-bottom: none; 
    border-right: none;
  }

  &__fork-line-6 {
    right: 54%;
    width: 17vw;
    
    border-bottom: none; 
    border-right: none;
  }

  &__fork-line-7 {
    left: 50%; 
    width: 27.5vw; 

    border-left: none;
    border-bottom: none;
  }

  &__fork-line-8 {
    left: 50%; 
    width: 28.5vw; 

    border-left: none;
    border-bottom: none;
  }

  &__fork-line-9 {
    left: 50%; 
    width: 39vw; 

    border-left: none;
    border-bottom: none;
  }

  &__fork-line-10 {
    left: 50%; 
    width: 12.4vw; 

    border-left: none;
    border-bottom: none;
  }

  &__fork-line-11 {
    right: 50%; 
    width: 13.14vw; 

    border-bottom: none; 
    border-right: none; 
  }

  &__fork-line-12 {
    right: 50%; 
    width: 36.14vw; 

    border-bottom: none; 
    border-right: none; 
  }

  &__fork-line-13 {
    left: 50%; 
    width: 29.4vw; 

    border-left: none;
    border-bottom: none;
  }

  &__fork-line-14 {
    right: 50%; 
    width: 24.9vw; 

    border-bottom: none; 
    border-right: none; 
  }

  &__fork-line-17 {
    right: calc(50% + 19.2vw); 
    width: 24.4vw; 

    border-bottom: none; 
    border-right: none; 
  }

  &__fork-line-22 {
    right: calc(50% + 22vw); 
    width: 24.2vw; 

    border-bottom: none; 
    border-right: none; 
    border-top-right-radius: 0;
  }

  &__fork-line-23 {
    left: 50%;
    width: 25.1vw; 

    border-bottom: none; 
    border-left: none; 
  }

  &__fork-line-24 {
    left: 50%;
    width: 24.2vw; 

    border-bottom: none; 
    border-left: none; 
  }

  &__fork-line-25 {
    left: 50%;
    width: 23.1vw; 

    border-bottom: none; 
    border-left: none; 
  }

  &__fork-line-26 {
    left: 50%;
    width: 24.8vw; 

    border-bottom: none; 
    border-left: none; 
  }

  &__fork-line-27 {
    right: 50%; 
    width: 28.6vw; 

    border-bottom: none; 
    border-right: none; 
  }

  &__fork-line-28 {
    left: 50%;
    width: 28.8vw; 

    border-bottom: none; 
    border-left: none; 
  }

  &__fork-line-29 {
    left: 50%;
    width: 22.8vw; 

    border-bottom: none; 
    border-left: none; 
  }

  &__fork-link_abs-1 {
    transform: translateX(-37vw);
  }

  &__fork-link_abs-2 {
    transform: translateX(14vw);
  }

  &__fork-link_abs-3 {
    transform: translateX(-44vw);
  }

  &__fork-link_abs-4 {
    transform: translateX(-29vw);
  }

  &__fork-link_abs-5 {
    transform: translateX(-36vw);
  }

  &__fork-link_abs-6 {
    transform: translateX(-39vw);
  }

  &__fork-link_abs-7 {
    transform: translateX(13vw);
  }

  &__fork-link_abs-8 {
    transform: translateX(15vw);
  }

  &__fork-link_abs-9 {
    transform: translateX(26vw);
  }

  &__fork-link_abs-10 {
    transform: translateX(2vw);
  }

  &__fork-link_abs-11 {
    transform: translateX(-24vw);
  }

  &__fork-link_abs-12 {
    transform: translateX(-47vw);
  }

  &__fork-link_abs-13 {
    transform: translateX(17vw);
  }

  &__fork-link_abs-14 {
    transform: translateX(-33vw);
  }

  &__fork-link_abs-15 {
    transform: translateX(-37vw);
  }

  &__fork-link_abs-16 {
    transform: translateX(-33vw);
  }

  &__fork-link_abs-17 {
    transform: translateX(-55vw);
  }

  &__fork-link_abs-18 {
    transform: translateX(-55vw);
  }

  &__fork-link_abs-19 {
    transform: translateX(-55vw);
  }

  &__fork-link_abs-20 {
    transform: translateX(-55vw);
  }

  &__fork-link_abs-21 {
    transform: translateX(-55vw);
  }

  &__fork-link_abs-22 {
    transform: translateX(-58vw);
  }

  &__fork-link_abs-23 {
    transform: translateX(10vw);
  }

  &__fork-link_abs-24 {
    transform: translateX(12vw);
  }

  &__fork-link_abs-25 {
    transform: translateX(13vw);
  }

  &__fork-link_abs-26 {
    transform: translateX(15vw);
  }

  &__fork-link_abs-27 {
    transform: translateX(-44vw);
  }

  &__fork-link_abs-28 {
    transform: translateX(13vw);
  }

  &__fork-link_abs-29 {
    transform: translateX(7vw);
  }



  @media (max-width: 720px) {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
  
    @include transformFontToVWMob(9.1px, 9.87px);
    padding: transformToVWMob(66px) 0 0;

    &__forks-inner-cont {
      width: 300%;
      padding: transformToVWMob(30px) 0;
    }
  
    &__forks-legend {
      top: transformToVWMob(30px);
      width: transformToVWMob(87px);
  
      transform: translateX(-200%);
  
      &-item {
        margin-bottom: transformToVWMob(12px);
  
        img {
          width: transformToVWMob(16px);
          height: transformToVWMob(14px);
        }
  
        span {
          width: transformToVWMob(49px);
          @include transformFontToVWMob(5.89px, 7.18px);
        }
      }
  
      &-item::after {
        content: "";
        position: absolute;
        top: 50%;
        left: transformToVWMob(23px);
        width: transformToVWMob(4px);
        height: transformToVWMob(1.4px);
        background-color: $main-color;
      }
    }
  
    &__fork {
      height: transformToVWMob(28px);
      margin-bottom: transformToVWMob(28px);
    }
  
    &__fork_last{
      margin-bottom: transformToVWMob(0px);
    }
  
    &__fork-link {
      padding: 0 transformToVWMob(18.5px);
      border: transformToVWMob(1.5px) dashed $main-color;
    }
  
    &__fork-link:hover {
      box-shadow: 0 0 0.5vw rgba($color: #000000, $alpha: 0.5);
    }
  
    &__fork-link_line-down::before {
      width: transformToVWMob(2.95px);
      height: transformToVWMob(56px);
      border-right: transformToVWMob(2.95px) dashed $main-color;
    }
  
    &__fork-link_line-down-double::before {
      width: transformToVWMob(2.95px);
      height: transformToVWMob(112px);
      border-right: transformToVWMob(2.95px) dashed $main-color;
    }

    &__fork-link_good:hover {
      box-shadow: 0 0 0.5vw #FF811E;
    }
  
    &__fork-link_danger::after,
    &__fork-link_danger-hide::after,
    &__fork-link_warning::after,
    &__fork-link_warning-hide::after,
    &__fork-link_rocket::after,
    &__fork-link_science::after {
      width: transformToVWMob(16px);
      height: transformToVWMob(14px);
    }
  
    &__fork-link_rocket::after,
    &__fork-link_science::after {
      width: transformToVWMob(20px);
      height: transformToVWMob(20px);
    }
    
    &__fork-line {
      height: transformToVWMob(56px); 
      border-width: transformToVWMob(2.95px);
      border-radius: transformToVWMob(16.2px);
    }
  
    &__fork-line-1 {
      width: 47.14vw; 
    }
  
    &__fork-line-2 {
      width: 50vw; 
    }
  
    &__fork-line-3 {
      width: 65vw;
    }
  
    &__fork-line-4 {
      width: 42.5vw;
    }
  
    &__fork-line-5 {
      width: 47vw;
    }
  
    &__fork-line-6 {
      right: 54%;
      width: 17vw;
      
      border-bottom: none; 
      border-right: none;
    }
  
    &__fork-line-7 {
      width: 56.5vw; 
    }
  
    &__fork-line-8 {
      width: 60.5vw; 
    }
  
    &__fork-line-9 {
      width: 72vw; 
    }
  
    &__fork-line-10 {
      width: 27.4vw; 
    }
  
    &__fork-line-11 {
      width: 27.14vw; 
    }
  
    &__fork-line-12 {
      right: calc(50% + 25vw); 
      width: 52.14vw; 
  
      border-top-right-radius: 0;
    }
  
    &__fork-line-13 {
      width: 55.4vw; 
    }
  
    &__fork-line-14 {
      width: 52.6vw; 
    }
  
    &__fork-line-17 {
      right: calc(50% + 35vw); 
      width: 55.4vw; 
    }
  
    &__fork-line-22 {
      right: calc(50% + 50.6vw); 
      width: 48.6vw; 
  
      border-top-right-radius: 0;
    }
  
    &__fork-line-23 {
      width: 41.1vw; 
    }
  
    &__fork-line-24 {
      width: 50vw; 
    }
  
    &__fork-line-25 {
      width: 41.1vw; 
    }
  
    &__fork-line-26 {
      width: 52.8vw; 
    }
  
    &__fork-line-27 {
      width: 61.6vw; 
    }
  
    &__fork-line-28 {
      width: 61.8vw; 
    }
  
    &__fork-line-29 {
      width: 46.8vw; 
    }
  
    &__fork-link_abs-1 {
      transform: translateX(-75vw);
    }
  
    &__fork-link_abs-2 {
      transform: translateX(28vw);
    }
  
    &__fork-link_abs-3 {
      transform: translateX(-93vw);
    }
  
    &__fork-link_abs-4 {
      transform: translateX(-62vw);
    }
  
    &__fork-link_abs-5 {
      transform: translateX(-75vw);
    }
  
    &__fork-link_abs-6 {
      transform: translateX(-82vw);
    }
  
    &__fork-link_abs-7 {
      transform: translateX(26vw);
    }
  
    &__fork-link_abs-8 {
      transform: translateX(32vw);
    }
  
    &__fork-link_abs-9 {
      transform: translateX(45vw);
    }
  
    &__fork-link_abs-10 {
      transform: translateX(6vw);
    }
  
    &__fork-link_abs-11 {
      transform: translateX(-50vw);
    }
  
    &__fork-link_abs-12 {
      transform: translateX(-100vw);
    }
  
    &__fork-link_abs-13 {
      transform: translateX(30vw);
    }
  
    &__fork-link_abs-14 {
      transform: translateX(-70vw);
    }
  
    &__fork-link_abs-15 {
      transform: translateX(-79vw);
    }
  
    &__fork-link_abs-16 {
      transform: translateX(-70vw);
    }
  
    &__fork-link_abs-17 {
      transform: translateX(-115vw);
    }
  
    &__fork-link_abs-18 {
      transform: translateX(-115vw);
    }
  
    &__fork-link_abs-19 {
      transform: translateX(-115vw);
    }
  
    &__fork-link_abs-20 {
      transform: translateX(-115vw);
    }
  
    &__fork-link_abs-21 {
      transform: translateX(-115vw);
    }
  
    &__fork-link_abs-22 {
      transform: translateX(-125vw);
    }
  
    &__fork-link_abs-23 {
      transform: translateX(21vw);
    }
  
    &__fork-link_abs-24 {
      transform: translateX(25vw);
    }
  
    &__fork-link_abs-25 {
      transform: translateX(19vw);
    }
  
    &__fork-link_abs-26 {
      transform: translateX(32vw);
    }
  
    &__fork-link_abs-27 {
      transform: translateX(-94vw);
    }
  
    &__fork-link_abs-28 {
      transform: translateX(28vw);
    }
  
    &__fork-link_abs-29 {
      transform: translateX(14vw);
    }
  }
}

