@import './../_reset';
@import './../_header';
@import './../_footer';

$window-container-width: 1920px;
$window-container-width-mob: 450px;
$main-color: #202020;
$gold-color: #d5b869;

@function transformToVW($size) {
  @return calc($size / $window-container-width * 100vw);
}

@function transformToVWMob($size) {
  @return calc($size / $window-container-width-mob * 100vw);
}

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  position: relative;
  background: #ffffff;
  min-height: 100vh;
}

.main {
  position: relative;
  width: 100%;

  padding: transformToVW(140px) transformToVW(330px);
}
